.header-container {
  background: var(--gray-900);
  padding: 2.5rem 0 7.5rem;
}

.header-content {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-logo span {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 160%;
  color: var(--gray-100);
}

.header-content button {
  height: 50px;
  padding: 0.75rem 1.25rem;
  background: var(--green-500);
  border-radius: 6px;
  border: 0;
  cursor: pointer;

  font-weight: 700;
  font-size: 1rem;
  line-height: 160%;
  color: var(--white);

  transition: background-color 0.2s ease-out;
}

.header-content button:hover {
  background: var(--green-700);
}